[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ggiraph"]
	path = ggiraph
	url = https://github.com/davidgohel/ggiraph
	shallow = true
	registered = true
[submodule "officer"]
	path = officer
	url = https://github.com/davidgohel/officer
	shallow = true
	registered = true
[submodule "flextable"]
	path = flextable
	url = https://github.com/davidgohel/flextable
	shallow = true
	registered = true
[submodule "officedown"]
	path = officedown
	url = https://github.com/davidgohel/officedown
	shallow = true
	registered = true
[submodule "fpeek"]
	path = fpeek
	url = https://github.com/davidgohel/fpeek
	shallow = true
	registered = true
[submodule "gdtools"]
	path = gdtools
	url = https://github.com/davidgohel/gdtools
	shallow = true
	registered = true
[submodule "rvg"]
	path = rvg
	url = https://github.com/davidgohel/rvg
	shallow = true
	registered = true
