[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "flextable"]
	path = flextable
	url = https://github.com/davidgohel/flextable
[submodule "fpeek"]
	path = fpeek
	url = https://github.com/davidgohel/fpeek
[submodule "gdtools"]
	path = gdtools
	url = https://github.com/davidgohel/gdtools
[submodule "ggiraph"]
	path = ggiraph
	url = https://github.com/davidgohel/ggiraph
[submodule "ggplot2"]
	path = ggplot2
	url = https://github.com/tidyverse/ggplot2
	registered = false
[submodule "officedown"]
	path = officedown
	url = https://github.com/davidgohel/officedown
[submodule "officer"]
	path = officer
	url = https://github.com/davidgohel/officer
[submodule "rvg"]
	path = rvg
	url = https://github.com/davidgohel/rvg
